# Ignore datasets and heavy raw data
dataset/
data/
organized_dataset
*.zip

# Ignore IDE files and virtual environments
.idea/
.venv/
__pycache__/

# Ignore generated ML models
models/

# Ignore OS files
.DS_Store